

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro Cidade</title>
</head>
<body>
<nav>
<object data="menu.html"></object>
</nav>
<form th:action="@{/salvar}" method="POST" th:object="${cidade}">
	<input type="text" th:field="*{id}" readOnly="readonly"/>
	
	<label> Cidade </label> 
	<input type="text" th:field="*{nome}" placeholder="Informe o Estado" />
		
	<label>Estado</label> 
	<select th:field="*{estado}">
	<option th:each="estado: ${estados}" th:value="${estado.id}" th:text="${estado.nome}"></option>
	</select>
								
	<input type="submit" value="Salvar" />
	</form>							
</body>
</html>